@import '../../commonStyle/StyleCommon';

.container {
  @include displayFlex(column,center,center);
  width: 100%;
  height: 100%;

  .logo {
    width: 200px;
    height: 200px;
    margin-left: 180px;
    transform: translate(-50%, -50%);

    @media screen and (max-width:600px) {
      width: 110px;
      height: 110px;
      margin-left: 110px;
    }

    @media screen and (min-width:600px) and (max-width: 1000px) {
      width: 150px;
      height: 150px;
    }

    span {
      display: block;
      position: absolute;
      width: 40%;
      height: 40%;
      border-radius: 50%;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
      -webkit-animation: run 6s infinite ease-in-out;
      animation: run 6s infinite ease-in-out;
    }

    .one {
      background: url("../../source/cookIcon-one.svg");
      -webkit-animation-delay: 4.5s;
      animation-delay: 4.5s;
    }

    .two {
      background: url("../../source/cookIkon-two.svg");
      -webkit-animation-delay: 3s;
      animation-delay: 3s;
    }

    .three {
      background: url("../../source/cookIcon-three.svg");
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s;
    }

    .four {
      background: url("../../source/cookIcon-four.svg");
    }
  }
  .welcome{
    width: 75%;
    text-align: center;
    @include h3();

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
      line-height: 1.4rem;
    }

    @media screen and (min-width: 600px) and (max-width: 1000px){
      font-size: 1.6rem;
      line-height: 2.0rem;
    }
  }
}

@-webkit-keyframes run {
  0% {
    transform: translate(0%);
  }
  25% {
    transform: translate(150%);
  }
  50% {
    transform: translate(150%, 150%);
  }
  75% {
    transform: translate(0%, 150%);
  }
}

@keyframes run {
  0% {
    transform: translate(0%);
  }
  25% {
    transform: translate(150%);
  }
  50% {
    transform: translate(150%, 150%);
  }
  75% {
    transform: translate(0%, 150%);
  }
}
