@import '../../commonStyle/StyleCommon';

.box{
  position: absolute;
  width: 30%;
  height: 60%;
  border-radius: 20px;
  z-index: 5;

  .container{
    @include displayFlex(column,space-around,center);
    min-width: 100%;
    min-height: 500px;
    padding: 10px;

    .title{
      @include h2();
      text-align: center;
    }

    .field{
      width: 70%;
    }
  }
}
