@import '../../commonStyle/StyleCommon';

.box {
  @include boxForLogAndReg();

  .paper{
    height: 100%;
    border-radius: 20px;

    @media screen and (max-width: 500px){
      border-radius: 0;
    }

    .form {
      @include formForLogAndReg();

      .title {
        @include h2();
      }

      .field {
        width: 70%;
      }

      .forgot {
        @include h6();
        width: 70%;
        margin-bottom: 0;
        cursor: pointer;
        text-align: right;
      }

      .linkRegistration {
        a {
          color: $ColorPrimary;
          text-decoration: none;
        }

        @include h6();
        margin-bottom: 0;
        height: 50px;
        @include displayFlex(column, space-around, center);
      }
    }
  }
}
