@import '../../commonStyle/StyleCommon';

.box {
  @include boxForLogAndReg();

  .container {
    @include containerForLogAndReg();

    .title {
      @include h2();
    }

    .field {
      width: 70%;
    }

    .forgot {
      @include h6();
      margin-bottom: 0;
      cursor: pointer;
      margin-right: 60px;
      align-self: flex-end;
    }

    .linkRegistration {
      a {
        color: $ColorPrimary;
        text-decoration: none;
      }

      @include h6();
      margin-bottom: 0;
      height: 50px;
      @include displayFlex(column, space-around, center);
    }
  }
}
